@charset "UTF-8";

@font-face {
    font-family: 'idroid';
    src: url('fontes/idroid.otf') format('opentype');
}

body {
    background-color: #84e1ad;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

header {
    background-image: linear-gradient(180deg, #3bd37f, #1a5c38);
    color: white;
    height: 150px;
    width: auto;
    padding: 20px 20px 0px 20px;
}

header > h1 {
    text-align: center;
    margin: 0px 0px 20px 0px;
}

header > p {
    text-align: center;
    margin: 0px;
}

nav {
    padding: 30px 0px 0px 0px;
}

nav > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding-right: 20px;
    margin: 20px 0px 0px 0px;
}

nav > a:hover {
    text-decoration: underline;
    color: rgb(255, 255, 88);
}

main {
    background-color: white;
    height: auto;
    width: 800px;
    margin: 0px auto 20px auto;
    padding: 20px;
    border-radius: 0px 0px 15px 15px;
}

main > h1 {
    font-family: idroid, sans-serif;
    margin: 0px;
}

main > h2 {
    font-family: idroid, sans-serif;
    background-image: linear-gradient(90deg, #3bd37f69, white);
    padding: 3px 0px 3px 10px;
}

main > p {
    text-align: justify;
    text-indent: 30px;
}

div#video {
background-color: #1a5c38;
margin: 0px -20px;
padding: 20px;
}

section {
    background-color: #3bd37f69;
    width: 800px;
    border-radius: 15px;
}

section > h3 {
    background-color: #33b36c;
    border-radius: 15px 15px 0px 0px;
    padding: 5px 0px 5px 10px;
    margin: 20px 0px;
}

section > p {
    text-align: justify;
    text-indent: 30px;
    padding: 15px;
    margin: 0px;
}

footer {
    background-color: #1a5c38;
    color: white;
    text-align: center;
    padding: 5px;
}

footer > p {
    margin: 0px;
}