@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(182, 182, 182);
    margin: 0px;
}

header {
    background-color: white;
    padding: 10px;
    margin: 10px;
}

nav {
    background-color: rgb(102, 102, 102);
    padding: 3px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.315);
}

nav > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 30px;
}

nav > a:hover {
    text-decoration: underline;
    color: rgb(255, 255, 100);
}

main {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    margin: 10px;
    border-radius: 20px 0px;
    box-shadow: 4px 4px 9px 0px rgba(0, 0, 0, 0.4);
}

article {
    background-color: rgb(179, 179, 179);
    padding: 5px;
    margin-bottom: 10px;
}

article > aside {
    background-color: rgb(109, 109, 109);
    padding: 2px 5px;
}

article > aside > p {
    margin: 0px;
}

footer  {
    background-color: black;
    color: white;
    text-align: center;
    padding: 4px;
    margin: 0px;
}

footer > p {
    margin: 0px;
}

div#bola {
    height: 100px;
    width: 100px;
    margin: 10px;
    background-color: white;
    border-radius: 50%;
}